PORT=5005
NODE_ENV=production

DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=photobooth_db
DB_USER=photobooth_user
DB_PASSWORD=change_this_password

FRONTEND_ORIGIN=https://ambulancegema.com
VITE_API_ORIGIN=https://pd-api.ambulancegema.com
